<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=550, maximum-scale=1.0"/>
    <title>Henk &amp; Marieke trouwen!</title>
    <link rel="stylesheet" href="../../css/reset.css" type="text/css"/>
    <link rel="stylesheet" href="../../css/screen.css" type="text/css"/>
    <link rel="stylesheet" media="only screen and (max-device-width: 568px)" href="../../css/iphone.css" type="text/css"/>
    <link rel="stylesheet" media="only screen and (max-device-width: 1024px)" href="../../css/ipad.css" type="text/css"/>
  </head>
  <body>
    <div id="background"></div>
    <div id="wrapper">
      <div id="inner">
        <div id="container">
          <div id="header">
            <%= header_links %>
            <hr class="right"/>
          </div>
          <h2>Overnachten</h2>
          <hr/>
          <div id="content">
            <h3><a href="http://www.goldentulipamsterdamwest.com">Golden Tulip Amsterdam West</a></h3>
            <p>Vanaf circa €75,- op basis van 2 personen. We hebben hier enkele 2-, 3- en 4 persoonskamers in optie staan: mail zsm onder vermelding van “Bruiloft van Henk en Marieke” naar <a href="mailto:wendy@goldentulipamsterdamwest.com?subject=Bruiloft van Henk en Marieke">wendy@goldentulipamsterdamwest.com</a>.</p>
            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m29!1m12!1m3!1d38952.28045223123!2d4.767739210554195!3d52.39729610242892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m14!1i0!3e6!4m5!1s0x47c5e4940400f37f%3A0xb4dd7e92b57217e1!2sRuigoord+76%2C+1047+HH+Amsterdam!3m2!1d52.410332!2d4.7490687!4m5!1s0x47c5e260c48ea3bf%3A0xcce2c2ab9e41d0d0!2sGolden+Tulip+Amsterdam+West%2C+Molenwerf+1%2C+1014+AG+Amsterdam!3m2!1d52.38568!2d4.847049999999999!5e0!3m2!1sen!2snl!4v1405420642395" width="100%" height="350" frameborder="0" style="border:0"></iframe>
              <span class="small"><a href="https://www.google.nl/maps/dir/Ruigoord+76,+1047+HH+Amsterdam/Golden+Tulip+Amsterdam+West,+Molenwerf+1,+1014+AG+Amsterdam/@52.3972961,4.7677392,13z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x47c5e4940400f37f:0xb4dd7e92b57217e1!2m2!1d4.7490687!2d52.410332!1m5!1m1!1s0x47c5e260c48ea3bf:0xcce2c2ab9e41d0d0!2m2!1d4.84705!2d52.38568?hl=nl-NL">Toon grotere kaart</a></span>
            </div>

            <hr/>

            <h3><a href="http://www.ihg.com/holidayinnexpress/hotels/nl/nl/amsterdam/amsop/hoteldetail">Holiday Inn Express Amsterdam - Sloterdijk Station</a></h3>
            <p>Vanaf circa €90,- op basis van 2 personen.</p>
            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m29!1m12!1m3!1d38952.28045223123!2d4.760212910554214!3d52.39729610242892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m14!1i0!3e6!4m5!1s0x47c5e4940400f37f%3A0xb4dd7e92b57217e1!2sRuigoord+76%2C+1047+HH+Amsterdam!3m2!1d52.410332!2d4.7490687!4m5!1s0x47c5e2592e8d5425%3A0xb3b7fd7dcd2ccc6b!2sHoliday+Inn+Express+Amsterdam+-+Sloterdijk+Station%2C+Zaventemweg+3%2C+1043+EH+Amsterdam!3m2!1d52.388270999999996!2d4.837536!5e0!3m2!1sen!2snl!4v1405421065929" width="100%" height="350" frameborder="0" style="border:0"></iframe>
              <span class="small"><a href="https://www.google.nl/maps/dir/Ruigoord+76,+1047+HH+Amsterdam/Holiday+Inn+Express+Amsterdam+-+Sloterdijk+Station,+Zaventemweg+3,+1043+EH+Amsterdam/@52.3972961,4.7602129,13z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x47c5e4940400f37f:0xb4dd7e92b57217e1!2m2!1d4.7490687!2d52.410332!1m5!1m1!1s0x47c5e2592e8d5425:0xb3b7fd7dcd2ccc6b!2m2!1d4.837536!2d52.388271?hl=nl-NL">Toon grotere kaart</a></span>
            </div>

            <hr/>

            <h3><a href="http://www.stayokay.com/nl/hostel/haarlem">Hostel: Stay Okay</a></h3>
            <p>Vanaf circa €30,- per persoon (gedeelde kamers).</p>
            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m29!1m12!1m3!1d38931.51535963813!2d4.671053860762018!3d52.42081660351434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m14!1i0!3e6!4m5!1s0x47c5e4940400f37f%3A0xb4dd7e92b57217e1!2sRuigoord+76%2C+1047+HH+Amsterdam!3m2!1d52.410332!2d4.7490687!4m5!1s0x47c5ef9679dcc67b%3A0x3488d678c7b8595d!2sStayokay+Haarlem%2C+Jan+Gijzenpad+3%2C+2024+CL+Haarlem!3m2!1d52.41408!2d4.639997!5e0!3m2!1sen!2snl!4v1405421280637" width="100%" height="350" frameborder="0" style="border:0"></iframe>
              <span class="small"><a href="https://www.google.nl/maps/dir/Ruigoord+76,+1047+HH+Amsterdam/Stayokay+Haarlem,+Jan+Gijzenpad+3,+2024+CL+Haarlem/@52.4208166,4.6710539,13z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x47c5e4940400f37f:0xb4dd7e92b57217e1!2m2!1d4.7490687!2d52.410332!1m5!1m1!1s0x47c5ef9679dcc67b:0x3488d678c7b8595d!2m2!1d4.639997!2d52.41408?hl=nl-NL">Toon grotere kaart</a></span>
            </div>

            <hr/>

            <h3><a href="http://www.droomparken.nl/spaarnwoude/">Camping: DroomParken Spaarnwoude</a></h3>
            <p>Er is ook een camping in de buurt. Hier kun je alleen individueel (per tent/caravan) reserveren. Zij verhuren ook huisjes.</p>
            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m29!1m12!1m3!1d9737.073207124811!2d4.749886149437005!3d52.40181343767004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m14!1i0!3e6!4m5!1s0x47c5e4940400f37f%3A0xb4dd7e92b57217e1!2sRuigoord+76%2C+1047+HH+Amsterdam!3m2!1d52.410332!2d4.7490687!4m5!1s0x47c5e487e18e56eb%3A0x815e107e951eeff8!2sDroompark+Spaarnwoude%2C+Zuiderweg+2%2C+Halfweg!3m2!1d52.394864!2d4.753667!5e0!3m2!1sen!2snl!4v1405421456939" width="100%" height="350" frameborder="0" style="border:0"></iframe>
              <span class="small"><a href="https://www.google.nl/maps/dir/Ruigoord+76,+1047+HH+Amsterdam/Droompark+Spaarnwoude,+Zuiderweg+2,+Halfweg/@52.4018134,4.7498861,15z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x47c5e4940400f37f:0xb4dd7e92b57217e1!2m2!1d4.7490687!2d52.410332!1m5!1m1!1s0x47c5e487e18e56eb:0x815e107e951eeff8!2m2!1d4.753667!2d52.394864?hl=nl-NL">Toon grotere kaart</a></span>
            </div>
          </div>

          <hr/>
          <span class="small">Website design van <a href="http://jeffkreeftmeijer.com">Jeff Kreeftmeijer</a></span>
        </div>
      </div>
    </div>
  </body>
</html>

