<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=550, maximum-scale=1.0"/>
    <title>Henk &amp; Marieke trouwen!</title>
    <link rel="stylesheet" href="../../css/reset.css" type="text/css"/>
    <link rel="stylesheet" href="../../css/screen.css" type="text/css"/>
    <link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="../../css/iphone.css" type="text/css"/>
    <link rel="stylesheet" media="only screen and (max-device-width: 1024px)" href="../../css/ipad.css" type="text/css"/>
  </head>
  <%= body_tag %>
    <div id="wrapper">
      <div id="inner">
        <div id="container">
          <div id="header">
            <%= header_links %>
            <hr class="right"/>
          </div>
          <h2>Henk en Marieke trouwen!!</h2>
          <hr/>
          <div id="content">
            <p>Graag nodigen wij je uit om op 28 én 29 augustus met ons de liefde te vieren op oze droomlocatie: Ruigoord.</p>
            <p>Twee dagen? Inderdaad, we maken er een groot feest van! We willen graag dat iedereen beide dagen mee feest, er zijn meerdere mogelijkheden tot overnachten in de buurt <a href="#TODO">(zie overnachten)</a>.</p>

            <h3>Locatie</h3>

            <p>Alle festiviteiten zullen plaats vinden op Ruigoord.</p>
            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d77942.17365839102!2d4.9229820520995995!3d52.37598780826218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5e49155582eb3%3A0x5e6b11aacf9044fd!2s1047+Ruigoord!5e0!3m2!1sen!2snl!4v1405418325850" width="100%" height="350" frameborder="0" style="border:0"></iframe>
              <span class="small"><a href="http://maps.google.com/maps?ll=52.396942,4.83698&z=12&t=m&hl=en-US&gl=NL&mapclient=embed&q=1047%20Ruigoord">Toon grotere kaart</a></span>
            </div>
          </div>

          <hr/>
          <span class="small">Website design van <a href="http://jeffkreeftmeijer.com">Jeff Kreeftmeijer</a></span>
        </div>
      </div>
    </div>
  </body>
</html>
