<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=550, maximum-scale=1.0"/>
    <title>Henk &amp; Marieke trouwen!</title>
    <link rel="stylesheet" href="../../css/reset.css" type="text/css"/>
    <link rel="stylesheet" href="../../css/screen.css" type="text/css"/>
    <link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="../../css/iphone.css" type="text/css"/>
    <link rel="stylesheet" media="only screen and (max-device-width: 1024px)" href="../../css/ipad.css" type="text/css"/>
  </head>
  <body>
    <div id="wrapper">
      <div id="inner">
        <div id="container">
          <div id="header">
            <%= header_links %>
            <hr class="right"/>
          </div>
          <h2>Henk en Marieke trouwen!!</h2>
          <hr/>
          <div id="content">
            <p>Graag nodigen wij je uit om op 28 én 29 augustus met ons de liefde te vieren op oze droomlocatie: Ruigoord.</p>
            <p>Twee dagen? Inderdaad, we maken er een groot feest van! We willen graag dat iedereen beide dagen mee feest, er zijn meerdere mogelijkheden tot overnachten in de buurt (zie <a href="/accommodations">overnachten</a>).</p>

            <h3>Locatie</h3>

            <p>Alle festiviteiten zullen plaats vinden op Ruigoord.</p>
            <p>Ruigoord 76<br/>1047 HH Amsterdam</p>
            <p>Openbaar vervoer: <a href="http://9292.nl/plan/vertrek/2014-07-15T1250?naarRef=amsterdam_ruigoord-76">9292.nl</a></p>
            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d77924.26089007618!2d4.85000558964844!3d52.38613647164365!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5e4940400f37f%3A0xb4dd7e92b57217e1!2sRuigoord+76%2C+1047+HH+Amsterdam%2C+Nederland!5e0!3m2!1snl!2snl!4v1405421945479" width="100%" height="350" frameborder="0" style="border:0"></iframe>
              <span class="small"><a href="https://www.google.com/maps/place/Ruigoord+76,+1047+HH+Amsterdam,+Nederland/@52.410332,4.7490687,17z/data=!3m1!4b1!4m2!3m1!1s0x47c5e4940400f37f:0xb4dd7e92b57217e1?hl=nl-NL">Toon grotere kaart</a></span>
            </div>
          </div>

          <hr/>
          <span class="small">Website design van <a href="http://jeffkreeftmeijer.com">Jeff Kreeftmeijer</a></span>
        </div>
      </div>
    </div>
  </body>
</html>
