<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=550, maximum-scale=1.0"/>
    <title>Henk &amp; Marieke trouwen!</title>
    <link rel="stylesheet" href="../../css/reset.css" type="text/css"/>
    <link rel="stylesheet" href="../../css/screen.css" type="text/css"/>
    <link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="../../css/iphone.css" type="text/css"/>
    <link rel="stylesheet" media="only screen and (max-device-width: 1024px)" href="../../css/ipad.css" type="text/css"/>
  </head>
  <%= body_tag %>
    <div id="wrapper">
      <div id="inner">
        <div id="container">
          <div id="header">
            <%= header_links %>
            <hr class="right"/>
          </div>
          <h2>Cadeau</h2>
          <hr/>
          <div id="content">
            <p>
              Hoe lief bedoeld ook, we zitten al ruim in onze peper- en zoutstellen, slacentrifuges, kamerplanten, fotolijstjes, waxinelichtjeshouders en warme sokken. Graag willen we (nadat we alle subsistenties voor de bruiloft hebben afgelost) nog een mooie reis maken naar Thailand of Indonesië (of naar Tietjerksteradeel als het tegen zit 😉). Een bijdrage voor onze droomreis zou meer dan welkom zijn!
            </p>
          </div>

          <hr/>
          <span class="small">Website design van <a href="http://jeffkreeftmeijer.com">Jeff Kreeftmeijer</a></span>
        </div>
      </div>
    </div>
  </body>
</html>

